
/* 
  Design TODOs:
  - Have the navbar be transparent (inspired by Maxi-g)
  - Create a dark mode (must use javascript)
  - In mobile screen width, the navbar will become the three line options button, should behave as Justin's website. (this will be the @media part)
  - Make navbar smaller using @media (freecodecamp example)
  - When in a certain section, have the corresponding section be in a different color (like blue)
*/

* {
    box-sizing: border-box;
}

:root {
  /* These colors are the main theme */
  --color1: rgb(193, 246, 237);
  --color1-trans: rgba(193, 246, 237, 0.6);
  --color2: rgb(2, 53, 60);
  --color2-trans: rgba(2, 53, 60, 0.6);
  --color3: rgb(68, 147, 66);
  --color3-trans: rgba(68, 147, 66, 0.6);
  --color4: rgb(46, 175, 125);
  --color4-trans: rgba(46, 175, 125, 0.6);
  --color5: rgb(63, 208, 201);
  --color5-trans: rgba(63, 208, 201, 0.6);

  --font1: "Pathway Extreme";
}

/* KEYFRAMES STARTS */
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }
  100% {
    opacity: 100;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;

    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* KEYFRAMES ENDS */


html {
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
  font-family: var(--font1);
}

header {
  padding: 0;
  position: fixed;
  border-bottom: 1px solid;
  background: linear-gradient( 90deg,
    var(--color3-trans),
    var(--color5-trans)
  );
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}


/* Header design STARTS */

.blurred-background {
  backdrop-filter: blur(8px);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  height: 100%;
}

#section-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 100%;
  font-size: 0.9rem;
}

#section-links a {
  box-sizing: content-box;
  text-decoration: none;
  color: var(--color2);
  padding: 5px;
  transition: transform 0.6s ease-in-out, color 0.6s, background-color 0.6s;
}

#section-links a:hover {
  cursor: pointer;
  color: var(--color1);
  background-color: var(--color2-trans);
  text-align: center;
  height: 26px;
}

#section-links a:active {
  background-color: var(--color1-trans);
  transition: background-color 0.3s;
}

.fa-moon {
  transition: color 0.6s, background-color 0.6s;
  box-sizing: content-box;
  padding: 10px;
}

.fa-moon:hover {
  background-color: var(--color2-trans);
  color: var(--color1);
  cursor: pointer;
}

.nav-items {
  animation: fade-down 0.8s;
}

.hover-up {
  transition: transform 0.6s ease-in-out;
}

.hover-up:hover {
  transform: translateY(-5px);
}

.inline-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}


/* Smaller header for tablets and mobile devices */
@media (max-width: 768px) { 
  header {
    height: 50px;
    font-size: 0.8rem;
  }
}

@media (max-width: 625px) { 
  #navbar {
    background-color: red;
  }
}


/* Navbar design ENDS */


main {
  width: 75%;
  max-width: 850px;
  margin: 0 auto;
}

section {
  padding-top: 60px;
  height: 100vh;
  border: 1px solid;
  animation: fade-in 0.7s 0.7s ease-out backwards;
}


/* Welcome-section design STARTS */

#welcome-section {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  text-align: center;
}

#welcome-text {
  width: 70%;
  hyphens: auto;
}

/* Welcome-section design ENDS */


