
/* 
  Design TODOs:
  - Create a dark mode (must use javascript) MIGHT NOT DO THIS
  - In mobile screen width, the navbar will become the three line options button, should behave as Justin's website. (this will be the @media part)
  - Add point fingers to the contact links and make them animate forever 👉Click me👈
  - When the width of viewport becomes 768px, we need to make the layout of projects smaller (justin's example)
  */

* {
    box-sizing: border-box;
}



:root {
  /* By default, the color theme is dark */
  --color1: rgb(255, 185, 97);
  --color1-trans: rgba(255, 185, 97, 0.6);
  --color2: rgb(243, 130, 111);
  --color2-trans: rgba(243, 130, 111, 0.6);
  --color3: rgb(192, 92, 126);
  --color3-trans: rgba(192, 92, 126, 0.6);
  --color4: rgb(114, 45, 97);
  --color4-trans: rgba(114, 45, 97, 0.6);
  --color5: rgb(45, 53, 97);
  --color5-trans: rgba(45, 53, 97, 0.6);
  --font-color: rgb(255, 194, 170);

  --font1: "Pathway Extreme";
}

/* KEYFRAMES STARTS */
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }
  to {
    opacity: 100;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    top: 30px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes blinking {
  0%, 50% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* KEYFRAMES ENDS */


html {
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
  font-family: var(--font1);
  background: var(--color5);
}

main {
  color: var(--font-color);
}

header {
  padding: 0;
  position: fixed;
  border-bottom: 1px solid;
  background: linear-gradient( 90deg,
    var(--color1-trans),
    var(--color2-trans),
    var(--color3-trans)
  );
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

#main-container {
  display: flex;
  flex-direction: column;
}


/* Header design STARTS */

.blurred-background {
  backdrop-filter: blur(8px);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  height: 100%;
}

#section-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 100%;
  font-size: 0.9rem;
}

#section-links a {
  box-sizing: content-box;
  text-decoration: none;
  color: black;
  padding: 5px;
  background-color: none;
}

#section-links a:hover {
  cursor: pointer;
  color: var(--color2);
  background-color: var(--color5);
  padding: auto;
  text-align: center;
  height: 26px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.theme-icon {
  transition: color 0.6s, background-color 0.6s;
  box-sizing: content-box;
  padding: 10px;
}

.theme-icon:hover {
  background-color: var(--color5);
  color: white;
  cursor: pointer;
}

.nav-items {
  animation: fade-down 0.8s;
}

.hover-up {
  transition: transform 0.6s ease-in-out, color 0.5s, background-color 0.7s;
}

.hover-up:hover {
  transform: translateY(-5px);
}

.hover-up-higher {
  transition: transform 0.6s ease-in-out;
}

.hover-up-higher:hover {
  transform: translateY(-15px);
}

.inline-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.menu-icons {
  display: none;
}

/* Navbar design ENDS */



main {
  width: 75%;
  max-width: 850px;
  margin: 0 auto;
}

section {
  padding-top: 50px;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO: Maybe add some text-shadow and different color */

p {
  hyphens: auto;
}

.fade-in {
  animation: fade-in 0.7s 0.7s ease-out backwards;
  position: relative;
}

/* Create this wrapper to have the stop having page moved 
down 30px after reloading. Solved issue by create a div that
has the fade in animation class instead of the section. */
.fade-in-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linear-grad-underline {
  position: relative;
}

.linear-grad-underline::before {
  content: "";
  width: 100%;
  height: 4px;
  background: linear-gradient( 90deg,
    var(--color1-trans),
    var(--color2-trans),
    var(--color3-trans)
  );
  position: absolute;
  left: 0;
  bottom: 0px;
}


/* Welcome-section design STARTS */

#welcome-text {
  width: 100%;
  padding-bottom: 50px;
}

#name {
  border: 3px solid;
  font-size: 2rem;
  position: relative;
}

#name::after {
  content: "";
  height: 2.2rem;
  width: 5px;
  position: absolute;
  background-color: var(--font-color);
  margin-left: 2px;
  margin-top: 5px;
  animation-name: blinking;
  animation-iteration-count: infinite;
  animation-duration: 1.4s;
  animation-timing-function: steps(1, end);
}

#name, #mini-intro {
  text-align: center;
}


#gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 8px;
  width: 100%;
}

.gallery-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.gallery-img:hover {
  transform: scale(1.4);
  transition: transform 0.3s 0.7s ease;
}

/* The current grad and family photo gets to large when 
transition plays, so I made the scale transition smaller 
for them*/
#grad-photo:hover, #family-photo:hover {
  transform: scale(1.2);
  transition: transform 0.3s 0.7s ease;
}


/* The first gallery-img should be a img of myself */
#grad-photo {
  grid-column: 1/6;
  grid-row: 1/3;
  height: 100%;
}

#me-and-jas-photo1 {
  grid-column: 3/6;
  grid-row: 3/5;

}

#family-photo {
  grid-column: 6/10;
  grid-row: 3/6;
}

#me-and-jas-photo2 {
  grid-column: 1/3;
  grid-row: 3/5;
}

#family-dinner-photo {
  grid-column: 6/10;
  grid-row: 1/3;
}

#snowman-photo {
  grid-column: 1/4;
  grid-row: 4/5;
}

#baby-photo {
  grid-column: 4/6;
  grid-row: 4/6;
}


/* Welcome-section design ENDS */



/* about-me-section design STARTS */

#about-me-div {
  width: 80%;
}

#about-me-skills-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#about-me-skills-list li {
  border: 1px solid;
  border-radius: 25px;
  padding: 10px;
  padding-left: 12px;
}

#edu-list {
  list-style-type: none;
}

.shaking {
  display: inline-block;
  animation: shake 4s infinite;
}

.code {
  font-size: 1.1rem;
  color: var(--color5);
  transition: color 0.5s ease-out;
}

#about-me-skills-list li:hover .code {
  color: var(--font1);
}


.color-change-button {
  text-decoration: none;
  color: red;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 2px solid crimson;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.color-change-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: red;
  transition: width 0.4s ease-in-out;
  z-index: 0;
}

.color-change-button:hover::before {
  width: 100%;
}

.color-change-button:hover {
  color: white;
}

.color-change-button span {
  position: relative;
  z-index: 1;
}

/* about-me-section design ENDS */




/* Project Section STARTS */

#projects-div {
  width: 100%
}

#project-header {
  margin-bottom: 50px;
}

#project-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  max-width: 100%;
  width: 100%; /* When the screen gets small, make it act like justin's website */
  min-height: 300px;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color2-trans);
}

.img-box-linker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.project-details {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-details * {
  margin: 0;
}

.project-details-title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  text-decoration: underline;
}


.project-details-desc {
  text-align: center;
  margin-bottom: 15px;
}

.project-details-skills {
  list-style-type: none;
  display: flex;;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.project-details-skills > li {
  padding: 4px 5px;
}

.project-details-git-icon {
  font-size: 2rem;
  color: var(--font-color);
}

.project-details-git-icon:hover {
  color: var(--color1);
  cursor: pointer;
}

.box {
  width: 250px;
  height: calc(100% - 10px);
  border: 1px solid white;
  border-radius: 3px;
}

/* Project Section ENDS */


/* Nav Menu Container STARTS */
#nav-menu-container {
  display: none;
}

/* Nav Menu Container ENDS */


/* Contact section STARTS */

.contact-links {
  color: white;
  text-decoration: none;
  font: 1.1rem;
  margin: 10px;
}

/* Contact section ENDS */







/* The navbar and the projects need to change in appearance in smaller screens */

/* Smaller header for tablets and mobile devices */
@media (max-width: 768px) { 
  header {
    height: 50px;
    font-size: 0.8rem;
  }
  .theme-icon {
    font-size: 1.15rem;
  }
}

@media (max-width: 625px) { 
  section {
    padding-top: 30px;
  }
  #navbar {
    width: 75%;
  }
  .menu-icons {
    display: block;
    color: black;
    font-size: 1.25rem;
    transition: transform 0.2s ease;
  }
  .menu-icons:hover {
    cursor: pointer;
  }
  .menu-icons:active{
    transform: translateY(-5px);
  }
  #section-links {
    display: none;
  }
  #menu-list {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  .menu-item {
    margin: 15px;
  }
  .menu-link {
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
    color: var(--font-color);
    text-decoration: none;
  }
  main {
    width: 90%;
  }
  #about-me-div {
    width: 90%;
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-img {
    width: 75%;
    height: 60%;
  }
}

